/* Add New Image Slide CSS Admin */
.new-images {
	float:left;
	height: 160px;
	width: 160px;
	overflow: hidden;
	background-color: #00A0D2;
	color: #FFF !important;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 2%;
	margin-left: 15px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);
	box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);
	cursor:pointer
}

.new-images .dashicons {
	text-align: center !important;
	margin-top: 10% !important;
	padding-right: 65% !important;
	font-size: 100px;
}
.new-images .add-text {
	text-align:center !important;
	font-size: 30px;
	margin-top: 60% !important;
	width: 100%;
}

/* All Slider Gallery CSS Admin */
.sbox {
	float:left;
	width:100%;
	margin-left: 20px;
}

.sbox .image {
	margin: 0 5% 5% 0;
	width:20%;
	cursor:move;
	float:left;
}

.sbox img {
	width: 160px;
	height: 160px;
	display:block;
	margin-bottom:10px;
}

.new-image {
	margin: 0 15px 15px 0;
	width: 28%;
	cursor: move;
	float: left;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);
	box-shadow: 10px 10px 5px 0px rgba(112,198,224,1);	
}

/* For desktop: */
@media (max-width:768px) {
	.sbox .image {
		margin: 0 15px 15px 0;
		padding: 10px;
		width:35%;
		cursor:move;
		float:left;
	}
	.sbox img {
		width: 160px;
		height: 160px;
	}
}
/* For mobile phones: */
@media (max-width:500px) {
	.sbox .image {
		margin: 0 15px 15px 0;
		padding: 10px;
		width:90%;
		cursor:move;
		float:left;
	}
	.sbox img {
		width: 160px;
		height: 160px;
	}
}

/* Settings CSS */
.input-text-wrap {
	margin-top: 30px;
	margin-left: 15px;
}
.input-text-wrap input[type=text] {
	width: 50%;
	border: 1px solid #3366FF;
	border-left: 6px solid #3366FF;
}
.input-text-wrap input[type=radio] {
	border: 1px solid #3366FF;
	margin-bottom: 6px;
}
.input-text-wrap label {
	font-size: 14px;
	font-weight: bolder;
}
/* Delete All Slide Button */
#remove-all-images {
	float: right;
	color: #FFF;
	border-color: #D9534F;
	background: #D9534F;
	background-color: #D9534F;
	-webkit-box-shadow: inset 0 1px 0 #D9534F,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #D9534F,0 1px 0 rgba(0,0,0,.08);
	vertical-align: top;
}
#remove-image {
	color: #FFF;
	border-color: #D9534F;
	background: #D9534F;
	background-color: #D9534F;
	-webkit-box-shadow: inset 0 1px 0 #D9534F,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #D9534F,0 1px 0 rgba(0,0,0,.08);
	vertical-align: top;
}